header {
	width: 100%;	
}

h1, h2 {
	font-size: 200%;
}

h2 {
	text-align: center;
	padding: 20px 0 0;
	font-weight: bold;
}

p {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
}

td {
	padding: 10px 10px 10px 0;
}

td:first-child {
	font-weight: bold;
}

aside, section, header {
	margin: 20px auto;
}

aside {
	width: 25%;
	float: left;
	height: auto;
}

section {
	width: 74%;
	float: left		
}

section div {
	width: 70%;
	margin: 0 auto;
	background: #f0f8ff;
	padding-bottom: 50px;
}

ul {
	width:100%;
	padding: 0;
	margin: 0 auto;
}

li {
	list-style: none;
	margin: 5px 0;
	text-align: center;	
}

li:first-child {
	margin-bottom: 20px;	
}

li a {
	text-decoration: none;	
	width: 80%;	
}

li:first-child a {
	font-size: 150%;
	font-weight: bold;
}
