body {
	width: 1150px;
	color: #333;	
}

header {
	width: 95%;
	height: 250px;
	background-image: url("/images/header.jpg");
	border-radius: 4px;
}

h1 {
	font-size: 300%;
	color: #ccc;
	text-align: center;
}

h2 {
	text-align: center;
	padding: 20px 0 0;
	font-weight: bold;
}

p {
	width: 70%;
	margin: 10px auto;
	text-align: justify;
	color: #ccc;
	font-size: 120%;
}

table {
	margin-top: 20px;
}

td {
	padding: 10px 40px;
}

td:first-child {
	font-weight: bold;
}

header {
	margin: 20px auto;
}

aside {
	width: 25%;
	float: left;
	height: auto;
	margin: 40px 0;
}

section {
	width: 74%;
	float: left;
	margin-top: 40px;	
}

.details {
	width: 70%;
	margin: 0 auto;	
	background: #ccc;
	padding: 30px 10px;
	border-radius: 3px;
}

.details p {
	text-align: center;
	color: #333;
}

.youtube {
	width: 420px;
	margin: 20px auto;
}

ul {
	width:100%;
	padding: 0;
}

li {
	list-style: none;
	margin: 5px 0;
	text-align: center;	
}

li:first-child {
	margin-bottom: 20px;	
}

li a {
	text-decoration: none;	
	width: 80%;	
}

li:first-child a {
	font-size: 150%;
	font-weight: bold;
}

.images {
	width: 100%;
	display: inline-block;
}

.images li {
	width: 70%;
	margin: 0 auto;
}

img {
	float: left;
	margin: 9px;
}
