body {
	font-family: Verdana, sans-serif;
	width: 1150px;
	margin: 0 auto;
	background: #210b61;
	color: #000;
}

#top {
	height: 130px;
	margin-top: 10px;
}

#top img {
	width: 228px;
	float: left;
	margin: 0;
	border-radius: 4px;
}

h1 {
	height: 100px;
	padding: 15px 0;
	width: 684px;
	float: left;
	font-size: 400%;
	color: #eee;
	text-align: center;
}

header {
	width: 95%;
	height: 250px;
	background-image: url("/images/header.jpg");
	border-radius: 4px;
}

h2 {
	text-align: center;
	padding: 20px 0 0;
	font-weight: bold;
}

p {
	width: 70%;
	margin: 10px auto;
	text-align: justify;
	color: #eee;
	font-size: 120%;
}

table {
	margin-top: 20px;
}

td:first-child {
	font-weight: bold;
	padding: 10px 10px 10px 40px;
	width: 30%;
}

header {
	margin: 20px auto;
}

aside {
	width: 25%;
	float: left;
	height: auto;
	margin: 40px 0;
}

section {
	width: 74%;
	float: left;
	margin-top: 40px;	
}

.details {
	width: 70%;
	margin: 0 auto;	
	background: #ccc;
	padding: 30px 10px;
	border-radius: 4px;
}

.details p {
	text-align: center;
	color: #000;
}

.youtube {
	width: 420px;
	margin: 20px auto;
}

a, a:link, a:active, a:visited {
	text-decoration: none;
	color: #003;
	padding: 12px 6px;
}

a:hover {
	text-decoration: none;
	color: #eee;
}

dl {
	width:80%;
	padding: 0;
	text-align: center;		
}

dl:first-child {
	margin-bottom: 30px;	
}

dl:first-child a {
	font-size: 150%;
	font-weight: bold;
}

dl:first-child dt:hover, dd:hover {
	background: #286090;
}

dt, dd {
	padding: 5px;
	border-radius: 3px;
}

dt {
	background: #ccc;
}

dd {
	/* display: none; */
	/* width: 95%; */
	margin: 5px auto;
	text-align: center;
	background: #aaa;	
}

dl:first-child dt a:hover, dd a:hover {
	color: #fff;
}

.images {
	width: 100%;
	display: inline-block;
}

.images ul {
	width: 80%;
	margin: 0 auto;
}

li {
	list-style: none;
}

img {
	float: left;
	margin: 9px;
}

footer {
    width: 1100px;
    text-align: center;
    padding: 0 0 20px;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 auto;
}

.grey {
    background: #ccc;
    color: #333;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px;
    margin-left: 3px;
}

.grey:hover {
	background: #210b61;
}
