<section>
	
	<div class="images">
		<ul>
			<li ng-repeat="image in images"><img ng-src="images/{{ image.id }}.jpg" width="80"/></li>
		</ul>	
	</div>
	
	<div>
	<p>
		In 1962 Eon Productions, the company of Canadian Harry Saltzman and American Albert R. "Cubby" Broccoli, 
		released the first cinema adaptation of an Ian Fleming novel, Dr. No, featuring Sean Connery as 007. 
		Connery starred in a further four films before leaving the role after You Only Live Twice, which was 
		taken up by George Lazenby for On Her Majesty's Secret Service. Lazenby left the role after just one 
		appearance and Connery was tempted back for his last Eon-produced film Diamonds Are Forever.
		In 1973, Roger Moore was appointed to the role of 007 for Live and Let Die and played Bond a further six times over 
		twelve years before being replaced by Timothy Dalton for two films. After a six-year hiatus, during which a legal 
		wrangle threatened Eon's productions of the Bond films, Irish actor Pierce Brosnan was cast as Bond in GoldenEye, 
		released in 1995; he remained in the role for a total of four films, before leaving in 2002. In 2006, Daniel Craig 
		was given the role of Bond for Casino Royale, which rebooted the series. The twenty-third Eon produced film, Skyfall, 
		was released on 26 October 2012. The series has grossed just over $6 billion to date, making it the third-highest-grossing 
		film series (behind Harry Potter and the Marvel Cinematic Universe), and the single most successful adjusted for inflation.
	</p>
	</div>
	
</section>




